<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Travel App</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="style.css"> -->
</head>

<body>
        <div class="topSection">
                <h1>Travel App</h1>
            <div class="container flex" id="user-inputs">
                <div class="city">
                    <label for="city">Destination</label>
                    <input type="text" id="city" placeholder="Enter a Destination">
                </div>
                <div class="dates">
                    <label for="arrival">Date of Arrival</label>
                    <input id="arrival" type="date">
                </div>
                <div class="dates">
                    <label for="departure">Date of Departure</label>
                    <input id="departure" type="date">
                </div>
                <button id="generate" type="submit">Add Trip</button>
            </div>
        </div>
        <div id="locationErr"></div>
        <div class="container grid hidden overlay">
            <div class="trip-info">
                <div id="location"></div>
                <div id="dates"></div>
                <div id="weather"></div>

                <div class="btn-holder">
                    <button class="btn btn-active hidden" id="save">Save Trip</button>
                    <button class="btn hidden" id="delete">Delete Trip</button>
                </div>
            </div>
            <img alt="" id="destination-pic">
        </div>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js')
                    .then(() => console.log('Service worker is registered'))
                    .catch(() => console.error('Service worker registration failed'));
                });
            }
        </script>
</body>

</html>
